[2017-08-08 23:34] Colasice opened #1 "After putting the url in, nothing happens."
After I put the url in, nothing happens. I hit reload overlay and at the bottom it says, "Mini parse: Browser Console: The key Shrink-to-fit is not recognized and ignored.

[2017-08-08 23:46] eparsyl commented on #1
I also get this error.

8/8/2017 7:37:26 PM: Info: Horizon: BrowserConsole: The key "shrink-to-fit" is not recognized and ignored. (Source: https://bsides.github.io/horizoverlay/, Line: 1)

Altho you can still drag the corner and resize it as you want to stretch it out, on initial load it shows jumbled up in the top left corner.

[2017-08-09 01:06] bsides commented on #1
Did you guys hit anything to make the data be shown? Be sure to be next to a Dummy or any mob. Without data nothing is shown as this is really minimalistic.

[2017-08-09 01:15] Colasice commented on #1
I did. After I enabled it, I went to central shroud and used fleche on a water sprite. Nothing happened.

[2017-08-09 04:59] bsides commented on #1
@Colasice that's so weird :( could you please check if you're with the latest version of the Overlay plugin (0.3.3.13) ([link here](https://github.com/hibiyasleep/OverlayPlugin))? Also, if you could check if any other overlay is working would be great (this one in the url field: https://hibiyasleep.github.io/kagerou/overlay)

The error code mentioned isn't anything to worry. It's not an error, jus

[2017-08-09 05:23] Colasice commented on #1
So it says I'm using 0.3.3.12. I clicked your link but I couldn't find a way to download it. When I scrolled down and saw the link for download down there it took me to version 0.3.3.9. To answer your other question, kagerou works just fine. I was using it before I tried yours.

[2017-08-09 05:35] Colasice commented on #1
I figured out where to find the 0.3.3.13 and the overlay is working now. Thanks.

[2017-08-09 17:04] bsides commented on #1
@Colasice Thanks for testing, sorry for not pointing direct to the release page... I often forget Github has a learning curve.

I'm working on making more visual the first load of the plugin (like a setup). Will notify this issue once it's done.

[2017-08-09 20:50] #1 closed

[2017-08-10 15:54] bsides opened #3 "Version 2 not ready yet"
Just throwing it here as I was eager to show this but unfortunatelly Github Pages can't host more than one page in a SPA. I'll be needing another host.

[2017-08-11 09:04] tiagofox opened #5 "version 2"
Warning: Failed prop type: Invalid prop `isActive` of type `string` supplied to `Overlay`, expected `boolean`.
    in Overlay (at index.js:48)
    in Route (at index.js:48)
    in Switch (at index.js:47)
    in Router (created by BrowserRouter)
    in BrowserRouter (at index.js:46)
    in Root (at index.js:58)

[2017-08-11 09:44] bsides commented on #5
https://github.com/bsides/horizoverlay/blob/master/src/Overlay.js#L14 Really should be a boolean but what the hell, right?

[2017-08-12 11:22] bsides opened #6 "Make a config setting to change "YOU" to the user name"

[2017-08-12 11:22] #5 closed

[2017-08-12 20:00] #3 closed

[2017-08-12 20:00] #6 closed

[2017-08-13 09:44] Djuu opened #7 "Scaling settings"
Having scaling settings would be awesome.

As a 4k player, I'm having a hard time reading the values without extra focusing because it's too small.

[2017-08-13 17:08] bsides commented on #7
That's a nice one to have indeed. A little hard to achieve automatically but maybe a scaling bar that would adjust everything percentage based would help?

[2017-08-13 18:09] Djuu commented on #7
That would be perfect I guess :)

[2017-08-13 20:04] bsides opened #8 "Use build folder to serve"
Right now there is something wrong with `now` deployment so we're using dev version to serve. Whenever https://github.com/zeit/now-cli/issues/733 gets solved, we can use `build` folder to serve production version.

It will fix lots of console warnings being thrown.

[2017-08-14 01:35] bsides opened #9 "Settings window flashes and go away with data on"
Make it consistent, maybe adding the route through **Root** component @ `index.js`

[2017-08-14 15:25] #7 closed

[2017-08-14 15:25] bsides commented on #7
@Djuu give it a try 😸

[2017-08-14 15:27] bsides opened #10 "Irrelevant tag is broken"
For some reason the irrelevant tag is broken so I commented out. Could you help with this @bmwang?

Thank you 👍

[2017-08-14 16:58] Djuu commented on #7
Perfect ! 👍

[2017-08-14 17:05] Neeksy opened #11 "Small Line"
In the player's little parse rectangle there's a little line through it that seems to show up regardless of the scaling I put it on. It's a little distracting on darker backgrounds and looks odd since the others show up just fine.

<img src="http://i.imgur.com/KJYkGLl.png">

[2017-08-14 17:06] bsides commented on #11
Thanks, gonna look into it

[2017-08-15 02:47] Cidtaru opened #12 "Overlay does not update numbers, requires manual reload"
Hi there,

I'm quite sure that I'm missing something really small and stupid here.

I've setup the overlay, but when I go to engage anything the numbers do not update and just show infinite dps along with the encounter clock just being stuck at 0:00. If I press reload overlay in the ACT plugins menu, then it'll pull updated numbers but will remain stuck at that point until I press reload overlay a

[2017-08-15 04:37] bsides commented on #12
@Cidtaru I just noticed it myself. I'm looking into it, sorry for the trouble and thanks for the report :)

[2017-08-15 04:43] bsides commented on #12
EDIT: I also bumped an older version (without zoom scale) to the url, - should be working - while I fix the new one.

[2017-08-15 08:08] #12 closed

[2017-08-15 08:10] bsides commented on #12
Please reopen if the issue is still there, I tested and it was ok 👍

[2017-08-15 09:24] bsides commented on #8
We're using build folder now, not the way we intended, but it's fine.

[2017-08-15 09:24] #8 closed

[2017-08-15 09:27] bsides commented on #9
It was fixed in this commit https://github.com/bsides/horizoverlay/commit/69cd0f6d19ef22ab98136ee605c320fba73e4c4a (using hash instead history routing)

[2017-08-15 09:27] #9 closed

[2017-08-15 13:19] #11 closed

[2017-08-16 14:06] bsides opened #14 "now.sh is offline"
🤒

[2017-08-16 17:57] #14 closed

[2017-08-17 02:23] tiagofox opened #16 "Limit Break DPS"
DAMN LIMIT BREAK OMFG REMOVE IT 💢

no, please, its relevant for me :3 its just using one more slot on overlay

[2017-08-17 04:18] bsides commented on #16
I do believe it's relevant but shouldn't be an element like a player is. Maybe another thing entirely? Or just show it along with Total DPS, something like "Limit Break: 3%", just text

_Sent from my Samsung SM-A510M using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 22:00] vocruen opened #17 "One-color DPS Bar"
Hi, I'm having a weird issue where I tried to load the overlay and it looks like [this](http://imgur.com/wOyXXcu). I wondering why it isn't split kind of like in the other screenshots where the job/HPS is darker than the rest. Is there any way to fix this?

As a side note, I do have 0.3.3.13 and updated to 0.3.3.14, and it still hasn't changed anything.

I hope to hear from you soon!

[2017-08-19 13:29] bsides commented on #17
Hi @vocruen, it's been reported already https://github.com/bsides/horizoverlay/issues/10 but I'll see what I can do in the next days.

Thanks for reporting regardless.

[2017-08-19 13:29] #17 closed

[2017-08-19 13:34] bsides commented on #16
https://github.com/bsides/horizoverlay/commit/d8736db92e2417ccaf51e6579e189c341d5a685a this removed *Limit Break* from being an item - **and itself altogether in the process**.

Next step will be inserting it together in the bottom bar with `Duration` and `Total DPS`. Hopefully it'll look good enough. I'm just waiting the Discord feature to do its thing 😉

[2017-08-19 13:37] vocruen commented on #17
Sorry, I did view the old requests but the one similar to mine only noted
about the empty line on the YOU bar, not the fact that it was a solid
color. Forgive me for not assuming you picked up both as an issue.

You're doing great with the overlay, though! Thanks for sharing!

On Aug 19, 2017 9:29 AM, "Rafael Pereira" <notifications@github.com> wrote:

[2017-08-19 14:31] bsides commented on #17
Thanks for the kind words @vocruen <3

[2017-08-20 15:07] bsides commented on #10
You know what, while I can't be sure what is "relevent" or not programatically, I can assume only healers with HPS checked in config would want their HPS highlighted and I'll just assume that.

Other than that, check https://github.com/bsides/horizoverlay/issues/17 because I left the background color on faded mode and should be on solid mode.

[2017-08-29 11:59] bsides commented on #16
Fixed in the last `discord` branch ;)

[2017-08-29 11:59] #16 closed

[2017-08-29 12:00] bsides commented on #10
Fixed #17 right? Anyway, next will be the feature above

[2017-08-29 12:14] bsides opened #19 "Screenshots outdated"
TODO: Gotta update with latest version

[2017-09-01 17:03] vocruen opened #20 "Overlay resets when someone LBs"
Hello!

This is a newer issue I noticed after the recent update where someone can LB, anyone really, and it will completely reset the overlay. But not just reset it, as in reset the instance, but the people who are considered "active" disappear and you only see the Boss + group DPS + time bar.

Also, is there any chance you can keep the "Send to Discord" as an option and not just be default in the

[2017-09-01 17:37] bsides commented on #20
Hi @vocruen, thanks for this report. I also noticed people missing and didn't know the limit break was the issue, but now that you mention, I do believe it is. Did you notice people resetting any other time around? This is a hard-to-catch bug andI'm inclined in removing limit break altogether again 😞

Discord option was optional but somehow it's displaying even with the field in blank... I wonder

[2017-09-01 17:44] bsides opened #21 "Document test version url"
In case you have the time to test it and open issues for me, use this URL in your overlay.

`https://horizoverlay-test.now.sh`

You can add one more Mini Parse and hide the released version instead of replacing the URL, this way you keep both and test whenever you want (just toggle Show overlay in one of them while having the other off).

![](https://puu.sh/xp3er/24cced1248.png)

[2017-09-01 19:16] vocruen commented on #20
No problem! I was worried about reporting "too soon" because of my last report, and was worried that I might be bugging you. But I really like your overlay and helps out a lot when when I'm running Savage. But no, I have not seen it reset any other time. I think I noticed it because of the fact that I do run Savage frequently, and I've only seen it disappear when someone in the party LBs.

I would

[2017-09-01 20:32] bsides commented on #20
I'm going to star by clearing I'm sorry if my answer in the other issue gave the impression I wasn't grateful for the opened issue @vocruen. Even if it's considered a duplicate for me, sometimes it's not obvious nor written anywhere so there's no way to tell, right? I'm just too objective sometimes and I often forget to discuss further.

Nothing is dumb or rushed around here, you're truly free to

[2017-09-02 21:48] bsides commented on #20
EDIT: I just uploaded a new version in the test URL, if you see any problem there please let me know. Me and @tiagofox are testing it too.

[2017-09-03 00:19] bsides commented on #10
Test branch is already with this, just check Settings

[2017-09-03 06:07] #10 closed

[2017-09-03 06:07] bsides commented on #20
Ops, sorry, I want to see if you can test before I close this

[2017-09-03 07:40] tiagofox opened #23 "Overlay parsing chocobos"
![image](https://user-images.githubusercontent.com/6744524/30001353-fab28e0c-9061-11e7-8e54-f2c0caba979c.png)

[2017-09-04 11:22] bsides commented on #23
I don't really know what to do with this one - shouldn't they be parsed?

What I just discovered by looking at the picture is that their name isn't "Chocobo" like I supposed before, heh... so at least I should be able to fix their icon and colors.

What colors should they have?

[2017-09-04 11:28] bsides commented on #21
FYI
If you have more than one Mini Parse with Horizoverlay, ACT Overlay plugin will throw errors as described in this issue: https://github.com/hibiyasleep/OverlayPlugin/issues/23

I couldn't figure out the reason behind those errors but I assume they won't break anything.

[2017-09-06 17:33] Neeksy opened #24 "Settings not saving."
This issue just started popping up yesterday for me, not sure if it came with a recent update or not because I haven't been online. For whatever reason regardless if I'm using the current or test build while in-game my own parse doesn't up white or display my name like I have it set to do.

<img src="https://i.imgur.com/ZYBlydH.png">

Oddly the moment I open the settings window to adjust this, it

[2017-09-07 03:57] bsides commented on #24
Hi @Neeksy, first of all thanks for reporting!

Now, I tried to replicate this many times but I still can't do it. You see, I save the settings in the overlay (which is a Chrome browser, so it has a thing called localStorage) - so if overlay plugin didn't change it, it should work. What version are you using? You can check it at Plugins > Plugin Listing https://puu.sh/xttwA/24d9db9062.png

Did you

[2017-09-07 06:33] Neeksy commented on #24
Thanks for answering, @bsides!

Alright, I went through all the steps you said. My plugin version is same as your screenshot provided, 0.0.3.14 so I suppose I can rule that out. I attempted resetting as well, but to no avail. Tried every combination of opening/closing ACT, resetting, changing different settings, but the same weird thing is going on. I can't possibly imagine what's causing it.

And

[2017-09-07 11:51] bsides commented on #24
It's such a frustrating thing when this kind of thing happen 😢

Well there are some extra things you could do, but let's rule out an important one. I uploaded the old version to the test url `https://horizoverlay-test.now.sh` so you can test this one and see if the same thing happens. If the same thing happen we know it's the new version and this overlay alone.

Report back whenever you can please

[2017-09-07 14:40] Neeksy commented on #24
Alright, good news and bad news! The good news is... it's working like it should finally! The bad news is that the old version is the one that worked. Just in case I made sure my ffxiv plugin was up to date (it is) and my ACT is definitely receiving data and working with other overlays. So the plot thickens! Is there anything you'd like me to try to help debunk this?

[2017-09-07 15:07] bsides commented on #24
Alright, it's most good news than bad then :D

Could you leave the dev tools open with its Console tab focused? It should show any errors it may be having. Then, with it open, do stuff that should work but isn't and see if it throw any errors. Copy any errors from there and paste here please.

Another thing: if you didnt do it before, could you delete the mini parse and create it again? If you alr

[2017-09-07 15:18] bsides commented on #24
Oh my god stop everything

[2017-09-07 15:20] bsides commented on #24
it's just the name so I'm using a different name in ACT and I only checked for it...
https://puu.sh/xtNFw/7555ec1d80.png

I think I'll this fixed today, I'm so sorry I made you pass through all of this :(

[2017-09-07 15:33] bsides commented on #24
Ok so, I may have fixed this, could you test it again @Neeksy?
**The regular url** `https://horizoverlay.now.sh`

Thanks for your patience 😸

[2017-09-07 15:39] bsides commented on #20
@vocruen I'm considering this fixed, if you see anything weird please reopen or open another issue, ok? Thanks again!

[2017-09-07 15:39] #20 closed

[2017-09-07 18:13] Neeksy commented on #24
Just got home to give it a test drive and... the operation was a success! The overlay is back to working as it should be. Thank you so much for working with me to figure out the problem. :)

<sub>(As a side note I know my overlay probably looks extraordinarily tiny but that's because I personally open the dev tools to make the font size like 11px. I know a lot of people requested it bigger, but I

[2017-09-07 18:45] bsides commented on #24
Hahaha Thanks @Neeksy :3
That Lala looks so cute!

BTW I'm going to make that font size an option in settings pretty soon™ \o/
![](http://68.media.tumblr.com/51c149e29cfe270b8b37db0818d4fdcb/tumblr_osnne3oyaK1u9t5z9o1_540.gif)

[2017-09-07 18:45] #24 closed

[2017-09-22 15:26] bsides opened #25 "Offline version"
Make an offline working version!
AKA: build folder isn't working offline

[2017-10-15 18:55] bsides opened #26 "Update to React 16"

[2017-10-18 06:23] Neeksy opened #27 "Limit number of shown combatants?"
I use this overlay to conserve on space and avoid clutter on my screen, but it becomes sort of a cluttered mess if it attempts to display more than 8 people (occasionally it picks up chocobos, other alliance members, etc). Is there some way or a possibility I can make it display only whoever the highest 8 readings are? At the moment if it does exceed 8 within the space I have it limited to the box

[2017-10-18 16:55] bsides commented on #27
Hi @Neeksy,

It sure is possible, the data given by ACT can be processed before throwing it to the overlay. The only impediment right now is that I don't have a subscription to test it inside the game. I'll be coming back soon though, not more than 10 days or so.

I'll try to add this request before this time, if you could test that would be awesome. I'll let you know.

Thanks for opening this!

[2017-10-18 16:57] bsides commented on #27
One other thing on top of my head that is worth mentioning is that if the user doesn't merge the data from pets/chocobos in FFXIV Plugin settings, this can be troublesome.

- Just something to myself to not overlook -

[2017-11-04 12:11] AngryMustache opened #28 "Overlay Link Broken, Offline version unusable"
Would rather use it locally for when this happens but the now.sh link no longer works for overlay and offline version doesn't load, even when following instructions nothing shows up.

[2017-11-04 14:02] bsides commented on #28
Is it working now?

[2017-11-05 01:01] AngryMustache commented on #28
It was earlier, not working again.

[2017-11-05 01:02] AngryMustache commented on #28
Since the hotfix this week, hasn't worked much if at all

[2017-11-05 20:08] bsides commented on #28
I don't have a subscription since early October so I can't fix this right now. I'll get back to it once I have time and $, i'll post back here.

[2017-11-23 06:47] AngryMustache commented on #28
I've since been able to get the offline version semi-working, but when you right click the overlay the window it opens is a file directory of the c:/ drive, I can't find anyway to fix that as of yet. I had to edit the relative links in the index.html file to get the overlay to show up, just can't open the settings.

changed "/static/css/main.b185683b.css" to "./static/css/main.b185683b.css"
change

[2017-12-11 23:39] bsides commented on #28
I'm sorry @AngryMustache, I'm not with the time to check upon this right now, I'm not even with a subscription. Whenever I get the time & subscription I'll let you know. Thank you for the close fix though!

[2018-03-11 14:22] Paradox924X commented on #28
@AngryMustache Modify /static/js/main.b30584aa.js and find this snippet:
window.open("/#/config"

and simply remove the leading '/' to make that part of the code look like:
window.open("#/config"

Now the config file will load correctly on right-click, though the changes made won't apply live -- at least, they didn't for me. Modify the config as you see fit, and then just hit 'the Reload Overlay'

[2018-03-14 09:25] yorushika opened #29 "What a lovely and amazing overlay! Are you interested in translate this into Chinese?"
Hey there, sorry to disturb your life.
I'm a Chinese player&developer. Nice to meet you.
As mentioned in title, I like this overlay so much, so I installed this one into my  ACT and also, I am thinking of translating this overlay into Chinese and let other Chinese player get known of this awesome overlay!
So could you please allow me to cooperate with you for translation stuff?

Looking for your p

[2018-03-15 17:41] bsides commented on #29
Hi @jeremiahshi nice to meet you!

Sure thing you can translate it. It would be my pleasure to help. Right now all the strings are hardcoded wouldn't be better to separate them?

I'm not playing right now in a PC so I have no way to test it but I could do that separation and I believe it would work just fine.

Please tell me if there's anything else I could do.

Good luck regardless, thanks and en

[2018-03-15 17:44] bsides commented on #28
That error must be happening because of the hashtag route. I did like this because I couldnt make it work on now.sh without it - but it brings another problem, which is caching the answers and never reloading.

Maybe after the update we could make a function to call the page to reload() itself?

[2018-03-16 00:42] jeremiahshi commented on #29
Well I'll give it a shot~

I gonna clone one to local and try to translate strings. Perhaps combing with font adjustment for current font isn't suitable for Chinese characters' appearance.

On the other hand, there may be a bug causing local using unavailable now. Maybe I need to fork one to my own repos, setting it private and try to load online for debugging, if you permit.

I'll contact with yo

[2018-03-16 02:20] yorushika commented on #29
Some issues here:
How did you deploy the overlay to Pages or other similiar service?
After several trying, I still cannot deploy it without any bugs, which contains JS cannot loaded and config window enabled by right-click appears nothing, etc.
I believe this is because wrong deployment, but I have no idea how to fix it. So can you help me out? qwq

[2018-03-22 23:29] bsides commented on #29
Hi @yorushika!
Sorry for the delay in answering, I've been working a lot.

Yes you can fork it and change as you like. If you want, after translating and making your changes, tell me where is the version you want me to check and I'll do it. I don't know Chinese but I know where the strings are so I could help you with that.

Also I searched a better way to do it but it'd require a time that I unfo

[2018-03-31 05:52] bsides commented on #28
I promised to come back and I am. I just tested the URL with ACT and everything is working fine. The offline version is just a plus so I'm flagging this as an enhancement until then. If anything stop working please let me know :+1:

[2018-03-31 05:53] bsides commented on #29
Hi @yorushika thanks for the kind words!
Are you working on it? Im back to the game 😸 so if you need anything let me know!

[2018-03-31 11:24] bsides commented on #29
@yorushika I just made a build with a translator.

Could you please test? Go to config and toggle "Language" to see it.
https://build-chhgevdmet.now.sh

Right now it has 2 languages, English and Portuguese, but you could easily add your own or send it to me so I can insert into the project. I separated it into another branch because I want to check out if everything I did works well before releasi

[2018-03-31 12:56] bsides commented on #28
PS - Please report anything related to offline version in this other issue: https://github.com/bsides/horizoverlay/issues/25

[2018-03-31 12:56] #28 closed

[2018-03-31 13:09] bsides commented on #27
Could you please test it at https://build-ninvrvqzmg.now.sh/ ? Just put it in your ACT, open Settings and change the number of Combatants you want to be shown in the Overlay. It's ordering by damage so if your Chocobo does more damage than someone else (lol?) this someone else won't be shown in case there are more than the number of max combatants...

I think this should solver it. If you have any

[2018-03-31 14:19] bsides opened #30 "Request: show Max Hit"
A user on reddit ([u/royalmg](https://www.reddit.com/user/royalmg)) asked this feature a long time ago but I wasn't able to implement.

If anyone want to test it: https://build-lgppugpmge.now.sh

[2018-03-31 23:18] Neeksy commented on #27
It works wonderfully! I just ran a test run of Labyrinth and it successfully prevented from showing other alliance members I healed; I switched it to 9 real quick to make sure there was extra people and then put it back to only displaying 8.

Also as a note the 80% size is perfect for my screen and saves me from having to manually make it smaller. Thank you very much. C:

[2018-03-31 23:43] bsides commented on #27
Awesome, I'm releasing it soon then! My screen was also needing that 80% that's why I put it. I'm going to put an input there in a next release too because those numbers are really not that great.

Thanks for testing! ☺️

[2018-04-02 00:34] yorushika commented on #29
Hey, surely I’m catching up, but these days I have lots of work also coming with overtime. So did not have enough time for overlay recently. I’ll check it out today.

On the other hand, you are in Brazil, right? So we have 13-hour time lagging...emm whatever, I’ll do my best.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
From: Rafael Pereir

[2018-04-02 03:50] yorushika commented on #29
Hey~

I have to say it’s a quite nice decision you made that using locale.js. Yes, it’s really convenience. I found same thing appeared in another overlay named MopiMopi<https://github.com/HAERUHAERU/mopimopi>(for WebSocket, not OverlayPlugin) , and also I made a translated version<https://gitlab.com/yorushika/ACT.WebSocket.Overlay.MopiMopi>, though the author didn’t reply my email ☹. I thought to

[2018-04-04 01:09] bsides commented on #29
Hey @yorushika! How are you?

Do you know how to open a Pull Request here in GitHub? Could you open a pull request with your changes into my repository, at branch locale? If you don't know how to do it let me know.

About the font, I'll certainly include it as an option as well. If the user select chinese as their language, those 2 fonts will appear as options, if not I could add some other fonts

[2018-04-04 01:13] yorushika commented on #29
Hey there!

Gladly I can reply to you now!

The font is free to use, you can relax~ The repo is at https://github.com/be5invis/Sarasa-Gothic and the other is a Chinese font developer in Microsoft. These fonts are popular among Chinese developers.

I’ll make a pull request now. I have not tried to do this but I believe it won’t be complicated. Wait for a sec!

发送自 Windows 10 版邮件<https://go.microsof

[2018-04-04 01:18] yorushika commented on #29
Wrong typing, not “other” but “author”, XD.

I’ll check now.sh, too, thanks for your kindness~

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
From: Rafael Pereira <notifications@github.com>
Sent: Wednesday, April 4, 2018 9:09:23 AM
To: bsides/horizoverlay
Cc: Yorushika; Mention
Subject: Re: [bsides/horizoverlay] What a lovely and amazing ove

[2018-04-04 15:53] bsides commented on #29
I consider this done as PR #31
Thanks again @yorushika !!!

[2018-04-04 15:53] #29 closed

[2018-04-04 23:49] yorushika commented on #29
You’re welcome.

Hope to see it at main page soon so I can introduce this overlay to my friends, XD.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
From: Rafael Pereira <notifications@github.com>
Sent: Wednesday, April 4, 2018 11:53:05 PM
To: bsides/horizoverlay
Cc: Yorushika; Mention
Subject: Re: [bsides/horizoverlay] What a lovely and amaz

[2018-04-05 22:44] bsides commented on #29
Do you want to translate the main page too?

https://github.com/bsides/horizoverlay/blob/master/README.md

I could insert a link in this Markdown file to the chinese version and vice versa 👍

[2018-04-06 01:31] yorushika commented on #29
Of corse! Gladly to!

发自我的 iPhone

在 2018年4月6日，06:44，Rafael Pereira <notifications@github.com<mailto:notifications@github.com>> 写道：

Do you want to translate the main page too?

https://github.com/bsides/horizoverlay/blob/master/README.md<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fbsides%2Fhorizoverlay%2Fblob%2Fmaster%2FREADME.md&data=02%7C01%7C%7Ca5be3e765ddf44

[2018-04-07 13:28] #23 closed

[2018-04-07 13:28] #26 closed

[2018-04-07 13:28] #27 closed

[2018-04-07 13:28] #30 closed

[2018-04-07 14:45] bsides commented on #29
Hi @yorushika ! Everything is on the master branch now, so you could just use the main url ```https://horizoverlay.now.sh```

Hopefully the font is working too! It's a little big (20+mb) so if it doesn't appear right away it's because it's still downloading. Overall I think it's fine though.

Thanks again for doing all this! I'm going to update the README.md in the homepage thanking you :+1:

[2018-04-07 15:42] bsides opened #39 "Build is not working"
Somehow I got screwed by both now.sh and github pages. I'll try to solve this as soon as possible. Sorry about it!

[2018-04-07 15:53] bsides commented on #39
Finally fixed by PR #42
Now.sh is definitely out 👎

[2018-04-07 15:53] #39 closed

[2018-04-07 15:54] bsides commented on #25
Added a way (in README) to build locally for anyone interessed.

Install Yarn https://yarnpkg.com/en/

Download the project, install serve `yarn global add serve` then type `serve docs`.
Then inside ACT, the url would be http://localhost:5000

[2018-04-07 15:54] #25 closed

[2018-04-07 16:09] #21 closed

[2018-04-13 03:53] wingchaos opened #53 "Little advice"
A. supports ActWebScoket

B. adds a button to stop encounter

C. hasn't thought well yet

LOL

[2018-04-14 18:42] bsides commented on #53
Hi @wingchaos!
Sure thing I will implement it in the next few days. Thanks for posting 👍

[2018-04-27 20:55] bsides commented on #53
Hey @wingchaos could you explain suggestion A for me? I'll try to implement B this weekend 👍

[2018-04-29 11:10] EvilSakray commented on #53
A. is kinda already done @bsides
You just need to have references to the ACT WebSocket scripts urls (maybe jquery as well) on your parser html layout in the head section:

[code]

See: https://github.com/ZCube/ACTWebSocket

I don't think it requires anything more from you.

Then users need to have the actual ACTWebSocket plugin to make use of it.
However if you host the overlay **yourself** with A

[2018-04-30 17:16] bsides commented on #53
Awesome @EvilSakray, it made perfect sense. I'll look more into them today. Also, I always wanted to stream with the parser too, thanks for sharing it!

[2018-05-06 19:38] bsides commented on #53
Hi @EvilSakray, I tried to implement it but I don't think it's working. I'll look more into it. Right now the JS are there (and throwing some errors) but I could just put it inside my build to fix it (to transform new js to old js).

[2018-05-06 20:15] bsides commented on #53
It's definitely not working. I would need an example of implementation because those JavaScript are just samples and they don't tell much of how the plugin works. @HAERUHAERU code is very long so it's being a little hard to find where it is so maybe I could ask him for some advice. I'll let you know whenever it's ready.

[2018-05-07 04:44] ZCube commented on #53
I add reverse proxy for github.io
You can use it likes http://localhost:10501/github/bsides/horizoverlay with ACTWebSocket 1.3.3.2
So I'll close https://github.com/ZCube/ACTWebSocket/issues/21

[2018-05-10 17:04] EvilSakray commented on #53
@bsides Thanks I'll give it a try when I'm back from holidays.

[2018-06-04 01:23] Shexiang opened #56 "Settings screen blank"
Upon loading up the overlay using the url "https://bsides.github.io/horizoverlay", right clicking to get to the settings opens up a blank window, as seen here https://i.imgur.com/XYe4zH1.jpg

[2018-06-04 15:35] Shexiang commented on #56
Followed instructions as written to get the overlay up with OverlayPlugin, but right clicking just gives me this screen instead.

[2018-06-04 15:38] Shexiang commented on #56
I'm an idiot and missed a key step. Please berate me.

[2018-06-04 15:38] #56 closed

[2018-06-13 19:09] wsoxfan1214 opened #57 "No option to display crit/DH rate?"
Hello! I noticed the discord webhook for the overlay seems to track crit/direct hit rate, bit there doesn't seem to be an option to display these in the settings for the overlay.

Is there any chance this could be added as an option? :)

[2018-06-14 12:18] EvilSakray commented on #53
Sorry for the late reply:
![Sample](https://i.imgur.com/t9wxdBf.png)

The lowest dps is rank 1 on the far left and highest rank 8 on the far right.. it should be the opposite?
It might come from how I configured ACT itself though, but unsure where to change that.

[2018-06-15 12:30] NearAutomata commented on #53
@bsides Sorry to hijack this issue but I guess it's the right spot to ask for help with ACTWebSocket. I have setup ACTWebSocket and can access the parser in the browser via `http://rafaelp.com.br/horizoverlay/?HOST_PORT=ws://[::1]:10501/#/`. Unfortunately there are two issue:

1. At the end of an encounter the DPS bar completely disappears and the page turns empty which is really not expected. Whe

[2018-06-15 15:04] EvilSakray commented on #53
@NearAutomata As i'm also using browser source in OBS; i'll try answering D;

1. Not sure, I thought the dps bar disapearing to only leave the area / fight length / raid dps was actually a feature. Unless you got nothing to show at all anymore once out of a fight, in which case I've got no clue. As far as I'm concerned, the area information bar being pretty transparent, i actually changed the css

[2018-06-15 18:05] NearAutomata commented on #53
@EvilSakray
1. In my case all combatants are disappearing and I have the location/target/duration bar disabled anyways. I don't know whether it's a feature or not but I dislike that everything disappears at the end of an encounter. If it's a feature, there should be an option to toggle that behaviour in the first place. Furthermore I stumbled upon even more bugs like combatants being in the opposi

[2018-08-04 10:15] MrBlackCreep opened #58 "Vertical bars"
Have you thought about adding a option to instead of having the bars line up horizontally just having them stacked up vertically?
I'd love to be able to have the meter on the side of my screen and literally have top dps on top.

[2018-09-15 16:00] bsides commented on #58
Hi @MrBlackCreep great suggestion.

Could you build a mockup though? I guess it's just a bit hard to visualize it. Would the bars themselves be vertical? What about the text, should they be vertical too or horizontal but in 90 degrees?

I'm not playing the game right now so I couldn't test it but I could try to mock it too and start planing another version.

[2018-10-03 19:36] MorningstarCel opened #59 "Display boss name in leiu of encounter"
Would an option to display the boss rather than encounter in the overlay be possible?

[2018-10-04 04:34] MorningstarCel commented on #59
Got it with .GetStrongestEnemy(combatant) - Nevermind!

[2018-10-04 04:34] #59 closed

[2018-10-04 07:01] 1lkm opened #60 "Little requestment"
In DPS, can you make option that can sum summoner's DPSand Carbuncle's DPS?

Is there anything that can reset DPS collected?
Sometimes there is Error in DPS collecting or User wants to Reset DPS..

[2018-10-07 04:41] Mizurachi opened #61 "Overlay closing ACT on first use"
Good evening! I had just stumbled across your overlay and I would really like to use it however when I go to right click the box to change the settings or re-position the overlay it would just pop open a white window and then just shut ACT down entirely as well as delete itself from the Plug-in upon re-opening. I have the latest Overlay Plug-in installed as well

[2018-10-08 12:01] altissia86 opened #62 "Please add option to disable transparency"
I like my overlay rather small. I set it at 80%

Currently I cant see it very well inside suzaku extreme. Her instance colour is yellowish red + overlay white text. It's almost unreadable at glance

[2018-10-10 16:28] bsides commented on #60
Hi there!

The DPS from the summoner and its pet can be summed from the ACT Interface. In the FFXIV plugin, be sure to check the option to do that. I’m not in my PC right now to show you a sceeenshot if it, but it shouldn’t be too hard to find. Let me know if you don’t.

About the reset option, you can do it via ACT interface as wel. The plugin does have an option but last time I checked it was bu

[2018-10-10 16:53] bsides commented on #59
Hi! I see you found an API command there. Cool! Did you fork/use it locally? I may put it into the repo if you could PR it. I’m not playing the game right now, but If you could test it would be no problem.

Thank you!

[2018-10-11 00:43] MorningstarCel commented on #59
Hello!

Right now I'm just playing with it locally. Specifcally because of the 'send to discord' function - so far it's cleaned up to use a discord embed, looks a lot nicer, and an alpha state of connecting to the fflogs api and returning a lookup for damage percentile in the fight vs all other classes and returning is as a colour to the embed for that player. While it's somewhat working, the bigg

[2018-10-11 19:57] Sapphiratelaemara opened #63 "Requesting visual for Percentile Plugin"
Would be nice if we could get to see the number from https://github.com/Liquidize/FFXIV_PercentilePlugin
on the overlay so making a humble request <3

[2018-10-13 01:33] bsides commented on #62
Hi @altissia86! It looks like a good suggestion. I'm not playing the game though, so if anyone could help it'd be greatly appreciated.

Thanks for your input!

[2018-10-13 01:36] bsides commented on #61
Hi @Mizurachi!

I couldn't reproduce this kind of behavior because I'm not playing the game at the moment (don't have subscription), but I never saw this error before. Are all plugins in their latest version? Could you show me some screenshots of the plugin with devtools open?

Thanks!

[2018-10-13 01:38] bsides commented on #63
Hi @Sapphiratelaemara!

Looks like a very nice addition indeed. As I'm not playing the game I couldn't implement it right now but I'll as for help and see what can be done.

Thanks for the input! <3

[2018-10-13 02:17] Mizurachi commented on #61
![plug-ina](https://user-images.githubusercontent.com/43922032/46900202-bfcc8e80-ce5b-11e8-8a2a-09c8baa3d720.PNG)
Here are the plug-ins I'm currently using when trying to use Horizon, It's possible that I might need more than what I have but I don't know where to find them if I need more

[2018-10-21 19:12] unfaiyted commented on #63
@Sapphiratelaemara I'll go ahead and fork this and take a stab at it.

[2018-10-21 22:02] unfaiyted commented on #63
If you want to test it out I published it here using the settings @bsides
setup and such. I think it is working but Im going to test it more. Would you like me to create a bull request for this? https://unfaiyted.github.io/horizoverlay/#/

[2018-12-18 14:56] bsides commented on #29
Hi @yorushika how are you?

I'm in the way of rewritting this whole overlay and I noticed the chinese font we used is really hard to build it in my new system. Is there any other font from [Google Web Fonts](https://fonts.google.com/) you would recommend? This way would be a lot easier to bundle it!

Thank you in advance!

[2018-12-18 14:57] bsides commented on #29
PS - I thought Noto Sans would be really good. Would you agree?

[2019-01-21 20:15] someONEgood opened #65 "Missing icons/errors for BLU (Blue Mage)"
Any chance you could update horizoverlay for the new blue mage job?

[2019-01-22 10:09] bsides commented on #65
Hi @someONEgood, I need to find the icon first... wondering where can I get those. But sure I will update it soon! Thanks for letting me know.

[2019-01-22 14:49] someONEgood commented on #65
I can do the legwork there!
BLU: https://ffxiv.gamerescape.com/wiki/File:Blue_Mage_Icon_1.png

It would be great if you could add companions (chocobos) as well. Here's a few options:
https://ffxiv.gamerescape.com/w/images/4/4f/Player30_Icon.png
https://ffxiv.gamerescape.com/w/images/e/e4/Chocobo_Icon_7.png
https://ffxiv.gamerescape.com/w/images/a/a9/Chocobo_Icon_6.png

Thanks so much for this. You

[2019-01-25 22:37] bsides commented on #65
Thank you so much @someONEgood, will try to include those this weekend! 😸

[2019-03-12 02:34] bsides opened #66 "* A new version is in the works *"
Hi guys, just wanted to let you know I'm going to develop a new version. I have some time this week to do it and hopefuly my subscription time will be enough for it.

Sorry for the delay on updating stuff around here... very hard to keep up =/

Thanks again for your support <3

[2019-03-12 03:45] #65 closed

[2019-03-12 03:47] bsides commented on #65
@someONEgood it's finally fixed, thanks for your (and everyone's) patience.

Regarding chocobos and other, it's a little harder to fix since ACT isn't very uniform on what data it sends to me. I'll look into it another time. If you could, please add another issue for me about it 😸

[2019-03-12 11:13] bsides commented on #66
This was very well intended but unfortunately won't be possible. Closing this.

[2019-03-12 11:13] #66 closed

[2019-03-12 22:58] someONEgood commented on #65
Awesome work, thank you! Appreciate you taking the time to work on these updates.
Horizoverlay is the beeeeest.

[2019-03-12 23:22] someONEgood opened #68 "Chocobo Icons "Broken""
Currently Chocobos are displayed in Horizoverlay without an appropriate chocobo icon; instead it defaults to the "Disconnected" icon.

Here are some replacement options (I personally prefer Icon_6):
https://ffxiv.gamerescape.com/w/images/4/4f/Player30_Icon.png
https://ffxiv.gamerescape.com/w/images/e/e4/Chocobo_Icon_7.png
https://ffxiv.gamerescape.com/w/images/a/a9/Chocobo_Icon_6.png

[2019-06-30 05:45] reinbei opened #69 "Missing icons/errors for GNB and DNC"
Possible to receive an update for GNB and DNC jobs? This is my favorite act overlay and would love an update for the new expansion :))

[2019-06-30 06:31] bsides commented on #69
Of course! Would you mind sending me the icons in any way? Could be just a link for them, like @someONEgood once did in this issue https://github.com/bsides/horizoverlay/issues/65

Thanks in advance!

[2019-06-30 09:48] reinbei commented on #69
Here you go! I appreciate it and I hope these work!

DNC: https://ffxiv.gamerescape.com/wiki/File:Dancer_Icon_1.png
GNB: https://ffxiv.gamerescape.com/wiki/File:Gunbreaker_Icon_1.png

[2019-07-02 10:31] bsides commented on #69
Hi @reinbei, thanks for your contribution! Assuming the icons are right I’ll try to update it today. I’ll let you know by closing this issue then. Thanks again!

[2019-07-03 03:44] #69 closed

[2019-07-03 03:44] bsides commented on #69
Fixed @reinbei, could you please test them? Thank you again!

[2019-07-03 05:34] reinbei commented on #69
@bsides It works perfectly! Thank you!

[2019-07-03 09:59] Neeksy opened #70 "GNB/DNC missing role colors"
Good news! They're displaying properly with icons and all, but they seem to be missing their role colors. GNB is tank and DNC is dps, of course.

![image](https://user-images.githubusercontent.com/31013479/60582873-43fad500-9d4f-11e9-8eec-a12564e7dbe0.png)

[2019-07-03 16:37] bsides commented on #70
Oh that's right, I knew I was missing something. Will schedule some time tonight to fix it. Thanks!

[2019-07-03 16:39] bsides commented on #60
I'm closing this right now as it saw little advance from the plugins. Also, the overlay isn't updated anymore unfortunately.

[2019-07-03 16:39] #60 closed

[2019-07-03 16:46] bsides commented on #68
Sorry for the late reply @someONEgood! I'm back in the game and I feel the exact need.

Now the problem: ACT (or the FFXIV plugin) don't send me the data about the character race or type so I don't know what's reaching me to change it accordingly. I'm going to run some tests tonight to see if it's still the case (it's been a while) and I'll post my thoughts here then.

Thanks again for the help!

[2019-07-03 23:21] someONEgood commented on #68
Well first of all, welcome back! I hope you enjoy yourself. If you find yourself on Crystal, let me know. It would be fun to say hi.

If you need further testing, let me know!
Also I noticed that the TRUST NPC's also show up in ACT, and lack icons, maybe that's something we can address as well. (I could potentially make icons for you).

[2019-07-04 15:01] bsides commented on #53
Sorry for the very late reply, I'll look more into it in the next version of the overlay. For now, if you need anything (or the questions above are still valid) let me know in another issue, please.

Thanks again for bringing me this!

[2019-07-04 15:01] #53 closed

[2019-07-04 15:03] bsides commented on #61
Hi @Mizurachi sorry for the very late reply. I believe the issue got solved but if it isn't please reopen this issue and I'll look into it this week.

Thanks!

[2019-07-04 15:03] #61 closed

[2019-07-04 15:05] bsides commented on #63
Since I wasn't playing until now I couldn't test it. Sorry for it =/

I'm going to attempt to bring it on with the next version of the overlay. If that take too much time, I'll try to push this through.

Thanks again for the help!

[2019-07-04 16:00] bsides opened #71 "Simplify the implementation and use the new hooks API"

[2019-07-05 01:50] #70 closed

[2019-07-05 17:47] bsides commented on #68
Yay thanks! It's a new expansion and I'm excited 😸

About the TRUST NPC - it's harder to test but if I can get more data about chocobos / summons / etc, I probably can get their data too. How are they showing right now? Does it show their name? If so, do you think there's a list somewhere I could borrow to manually insert into the overlay?

It goes like this: right now I get every job acronym and

[2019-07-05 18:37] someONEgood commented on #68
I'm going off memory here at the moment and can't get on to double check until later this evening, but if I recall correctly they show up in Hoizoverlay (and ACT?) as (Character Name)NPC name.

So for me, (Piper Rainesong)Yshtola

Needless to say it was a bit cramped lol.

Icon was the standard "disconnected" icon.

Just wanted to get that info to you if it helps track it down.

[2019-07-05 18:55] bsides commented on #68
I believe it does, thanks! I'll look into those this weekend for sure.

[2019-07-05 23:06] chadouming opened #72 "Create"

[2019-07-05 23:08] chadouming commented on #72
Forgot to add a description sorry.

Is there anyway to create a discord server so that we could track progress or throw idea up? I'm really liking this overlay and forked / strarted working on my version of it but would like to contribute back.

[2019-07-07 08:01] Vitoire opened #73 "Option to toggle alliance/party"
Hi there!

Right now, when you use ACT with this overlay and run alliance content, it shows the 8 people that do the highest DPS of the entire alliance. But I don't care about the other two alliances and would like to know the highest hitting person in my party only.

Do you think such an option is possible to implement? It would help me and others out a lot!

Thanks, loving your overlay a lot <3

[2019-07-08 18:19] bsides commented on #72
Hi @chadouming! Could you elaborate your idea a little more?

Or are you requesting a discord server to talk about the overlay? I could set one up, sure.

Let me know how I can help you help me 😸

[2019-07-08 18:22] bsides commented on #73
Hi @Vitoire!

One thing I know for sure is that when you setup the [FFXIV Plugin](https://github.com/ravahn/FFXIV_ACT_Plugin) you can filter which data goes through it - None (no filter), Party or Alliance data. If you filter for just party it will do what you want.

I don't know if I can get the alliance data from my side. The last time I checked I couldn't, but things may have changed, I'll rese

[2019-07-10 02:11] bsides commented on #73
I just checked, it's impossible for my part to know which people are from what. The only config is from FFXIV Plugin itself. Here's a screenshot where you can set it up:

![image](https://user-images.githubusercontent.com/87631/60935005-bcf1b380-a29e-11e9-93a8-0a0b16583f5e.png)

[2019-07-10 02:11] #73 closed

[2019-07-10 02:18] bsides commented on #68
Yeah I can definitely get them by their names. The only problem right now is at quests and the TRUST system. In quests, some NPC seems to have the same format (Their Name (Your Name)) and the trust system also does that. For the trust system is easier because they come with job so I just rule out the ones with  it. But for quests I still don't know how to get them. Might look a little bugged thoug

[2019-07-10 02:18] bsides commented on #68
Oh and about that, I'm on Aether =/

[2019-07-12 07:07] Siiper opened #76 "Option to toggle highlight on yourself"
If possible to add I did like to see an option to turn off/on the highlight on yourself. The pure white is really look out of place when setting up color by role (B&W still kinda meh but okie)

[2019-07-15 13:35] bsides commented on #76
Hi @Siiper! I do believe there is an option called **Highlight**, did you test it?

[2019-07-20 16:55] DaneelReventelov opened #78 "Dps Order"
Before the patch the pg was in order of dps but now are totally random and impossible to follow in fight, is possibile to have the ordering back?

[2019-07-21 03:46] bsides commented on #78
Hi @DaneelReventelov how are you?

I'm having trouble getting time to test these days but from where I know there is no problem in the ordering (like this screenshot from 2 days ago):

![image](https://user-images.githubusercontent.com/87631/61586673-b130a780-ab50-11e9-971c-290a60e8df9b.png)

Coul you please detail you setup to me?
For example, mine's like this:

![image](https://i.imgur.com/BzSta

[2019-07-21 20:23] DaneelReventelov commented on #78
Stupid me, really really sorry, I clicked for mistake on sorting type.
These are bad days for ACT, many update and old plugins with problems that ruins the config files and I started top speed thinking the same now but is 100% my fault, really sorry and thank you very much for your skin, is the best and for me is part of my FF gui, impossible to play without it :)

[2019-07-21 20:23] #78 closed

[2019-07-22 07:00] bsides commented on #78
No problem @DaneelReventelov, glad you worked it out! Anything let me know 👍

[2019-07-23 00:25] Rawrington opened #81 "Order flipping"
This is my own fault and I'm putting this issue here to let you know and implement the fiz mtself

[2019-07-30 17:35] Doonga opened #83 "Split encounter"
Apologies if this has been ask/answered. I think this was discussed in #53 but I had a hard time following that thread. :)

Is there a way to split/end the encounter without going out to ACT?

[2019-07-30 19:05] bsides commented on #83
I'll try to copy this from another Overlay. Right now it depends heavily on the version you are using as some versions doesn't have the command so... I'll try out some checks before implementing.

Thanks for bringing it back!

[2019-07-30 19:07] bsides commented on #81
Oh the PR is there since then and I couldn't test it :( I'm going to try to push it tonight. In case I can't I'll just trust it will work 😉

[2019-08-01 14:11] Spathaian opened #84 "Discord Export Hitting Character Limit"
When exporting parses to a Discord Channel, the export is hitting the maximum message character limit (2000) and only displaying up to 2 players from an 8 player parse.

[2019-08-01 17:24] bsides commented on #84
Hi @Spathaian!

I believe something changed from when I implemented this feature (2017) to now because even though I never heard of the limitation, the string shouldn't be more than 2k characters in any way.

I'm not having time to investigate this right now but will look into it sometime this month.

Thanks for letting us know!

[2019-08-02 03:18] Spathaian commented on #84
Sorry, I just tried it again. It seems as if it will post now but not after an encounter.

I'll have to check to see if there's a setting in ACT that's ticked wrong.
![image](https://user-images.githubusercontent.com/53571117/62341820-39e10900-b4aa-11e9-9535-6aca56847a05.png)

[2019-08-02 04:56] #84 closed

[2019-08-23 07:54] JennDoze commented on #58
Hi there, I imagine this request is aiming for something like the [osu overlay skin](https://gfycat.com/nearscornfulalaskankleekai)?

[2019-08-31 14:05] bsides commented on #58
Hi @JennDoze, I couldn't open that link, could you send another example? https://i.imgur.com/CrAB2Zf.png

[2019-09-02 23:49] Felys1998 opened #85 "Unable to configure overlay in OBS Browser Source"
Right clicking the overlay in an OBS browser source interact window does not bring up the configuration window. I believe this is the case because OBS browser source's interact window doesn't support the pop-up. Is there any way to configure the overlay as an OBS browser source?

[2019-09-12 21:52] DaneelReventelov opened #86 "Bar width and border issue"
Hi,
  on big monitor with 150% zoom scale I have a problem with right border that erase the corner of the last bar when I reduce the width.
Moreover, reducing width, I aspect also the single bar width will be reduce instead the bars go one on each other with a lot of useless space  between hps and dps.
Can you raise the margin of right bar and add a set to option to choose single bar width?

TY

[2019-10-01 20:32] bsides commented on #86
Hi @DaneelReventelov! Could you please post an image of your request? The more detail you give the better it is to reproduce. Also, if you could just take a picture of the error itself, the way it appears, would be awesome.

Thank you!

[2019-10-01 20:33] bsides commented on #85
The only way I see here is to not open a popup which unfortunatelly isn't possible right now. I will consider this in version 2 though, although it may be a while until I can possible publish it. Thanks for pointing this out though, it's appreciated!

[2019-10-02 22:50] Amitay12 opened #87 "In-game weird interaction"
Hey, up until today everything worked just fine for me. When I started ACT today, the overlay was not appearing properly, as if it's missing some of the images.

I'm able to interact with it, and open the settings, but non of the things I tried helped. I made sure to check and see if my friend was having an issue, but for him it was working perfectly fine.

I tried to re-install OverlayPlugin, clo

[2019-10-03 14:00] DaneelReventelov commented on #86
![img](https://i.imgur.com/uwfrtQa.png)
- The last PG bar is cut
- The bars are one on each other but the center of each bar is too large and free, between hps and dps
Reproduce: Every scale % when the with of the overlay is too short but is serious only for big monitor 3440x1440 with 150% or more

![img](https://i.imgur.com/xFV4MyQ.png)
This is at the right with but is really large

Can also help

[2019-11-01 23:37] Khallenis opened #88 "24-man issue"
Hello, really like the hud, it's clean.

I like to leave displaying only 8 people, since I mainly use it for 8-man content. However, now with the new NieR raid (and even before 24-man from roulettes) it doesn't display the top 8 DPS, it shows only the bottom 8 DPS.

When I change the config to show all 24 people, it display fine, but when you start to reduce the display number, it get to eat the t

[2019-11-05 14:22] bsides commented on #88
Hi @Khallenis!

Just out of curiosity, did you adjust your FFXIV Plugin in ACT to measure Alliance and up?

Regardless of the answer above, I need to get this a try but I don't really know how to test it... I'm going to try it with a test file but it can take a while since I'm not playing these days because of work. If you have any suggestion please let me know.

Thanks for the report!

[2019-11-05 14:24] bsides commented on #87
Hi @Amitay12! Sorry for the delay in answering. Could you please try again? Sometimes the cache on these servers get in the way - and also I heard that the plugin was buggy around that time you tried it.

Thanks again!

[2019-11-05 16:57] Krojack opened #89 "Update for hibiyasleep overlay."
As others are changing over to the hibiyasleep overlay, I tried this and it mostly works however it has a light red background when you lock it in place and make it click through.  Will this be updated to use the new overlay?

https://github.com/hibiyasleep/OverlayPlugin

[2019-11-05 20:16] bsides commented on #89
Hi @Krojack
Sure, let me check it out and return to you soon. Thanks for reporting!

[2019-11-05 20:17] bsides commented on #89
Oh wait, which one are you referring to again? You linked the plugin but it's the same from 2017 version.

[2019-11-06 17:39] Amitay12 commented on #87
I did just return from a break, and had tried it after the ACT update for the new patch, still giving the same issue...

[2019-11-06 19:34] purutu commented on #88
Hello, @bsides

You can see top 8 players by setting sort type to "Number - Ascending".
![image](https://user-images.githubusercontent.com/47320226/68330729-1536a600-0117-11ea-927d-ae876f4b6eae.png)

But, it is right-to-left order. This is not familiar to me
![image](https://user-images.githubusercontent.com/47320226/68331102-bb82ab80-0117-11ea-9c27-1bfed90b4e4c.png)

Always thanks a lot!

[2019-11-06 21:34] Khallenis commented on #88
Thanks a lot for the heads up!

[2019-11-06 21:34] #88 closed

[2019-11-07 05:10] bsides commented on #89
Did you mean ngld's https://github.com/ngld/OverlayPlugin?
I did test with it (it improved greatly) but didn't notice those bugs. I'm going to try more but if  you could tell me when exactly that red background happens would be great.

Thanks for the report!

[2019-11-07 05:11] bsides commented on #88
Does @purutu option solve it for you @Khallenis?

[2019-11-07 05:14] bsides commented on #86
Hi @DaneelReventelov!
Thanks for the examples they look great and help a lot in debugging.

See, I could add the 130% option and be gone with it but right now but I'm studying a way to make it better overall since it's been more than 2 years I made this. If I don't update in the next week or so and you and to call my attention please do it because I might forget in the middle of my tasks. Also, if

[2019-11-07 05:52] Khallenis commented on #88
Yeah, solved. :)

[2019-11-08 16:46] Krojack commented on #89
Wow I failed so hard at this.

1. Yes I meant the ngld one.  I was swapping back and forth with the Cactbot that I got a little confused.
2. I found why your overlay was red.  I left the sample data enabled during the setup.  The overlay height wasn't large enough to see the warning message about the data being sample.

I'll close this one for ya.  Thanks though and sorry to waste your time.

[2019-11-08 16:46] #89 closed

[2019-11-08 18:54] bsides commented on #89
Glad you made it work :dancer:
Thank you for pointing me to ngld, it's really going to be the default one.

Cheers!

[2019-11-09 12:54] DatGoose opened #90 "DPS not being read properly when parsing alliance"
Hello, I setup your overlay last night and I encountered a strange bug where DPS was not pulling from the top 8 like I configured instead it was pulling from somewhere in the middle and would often not make sense the numbers that it was showing when reading DPS from ACT.

Despite me being at over 10k DPS on the hunt, and a few others being significantly higher than me(mind you all of these people

[2019-11-11 13:29] bsides commented on #90
Hi @DatGoose !

Could you please send me a screenshot or the raw data from ACT as well? The reason for it is just to confirm if the data is being sent wrong or if there's an error in the calculation itself. Right now I doubt it's the calculation since it's being used by a lot of users without a complaint so I'd like to investigate if it's an unusual case.

Also be sure to have checked "Sort type:

[2019-11-18 07:36] sssylent commented on #85
@Felys1998 I ran into this issue, found a kinda crappy way around it but it works.

There is a differnt URL for the pop-out box to edit config, therefore if you change your OBS BrowserSource URL to the configuration page, you can edit the overlay settings there. Once you're done you go back to the regular URL.

https://bsides.github.io/horizoverlay/
https://bsides.github.io/horizoverlay/#/config

[2019-11-18 13:39] bsides commented on #85
I can confirm those urls are right 👍

[2019-11-21 23:04] LysLuc commented on #90
Static member of mine had the same issue, they have the right settings for it to show everything properly and it works in 8 man, just not in 24man.

Picture below has the Mini Parse, ACT itself, Horizon Overlay and Kagerou.
![unknown](https://user-images.githubusercontent.com/40733794/69384004-6c15b100-0cbb-11ea-8b02-d8950f934846.png)

[2019-11-22 02:36] Felys1998 commented on #85
Can confirm that workaround does work, but hope that the enhancement will be considered still.

[2019-11-22 06:42] Felys1998 opened #91 "DPS Order is random with NGLD OverlayPlugin in WebSocket"
I'm using the overlay via websocket in OBS and the DPS ordering is completely random. I understand that normally the overlay gets ordering from OverlayPlugin's settings but when using a browser source in OBS I do not have access to those options as OverlayPlugin's settings only apply to its internal rendering of the overlay.

![image](https://user-images.githubusercontent.com/2600400/69403723-2bfd

[2019-11-22 14:09] bsides commented on #85
They are indeed @Felys1998 but I'm not actively working on this project right now due to not having a subscription of the game atm. I'll post back as soon as I come back.

[2019-11-22 14:12] bsides commented on #90
Ok Thanks for the report @LysLuc ! I'll be needing some help to sort this thing out as I'm not playing the game anymore. Let's hope someone can give us a hand!

[2019-11-23 03:17] Felys1998 commented on #91
OK if anyone else gets stuck on this, NGLD's OverlayPlugin miniparse event source was defaulted to no sort order, you have to set it here to get them to display in order.

![image](https://user-images.githubusercontent.com/2600400/69472263-b7cc6700-0d5c-11ea-9c45-e4818c770a9e.png)

[2019-11-23 03:17] #91 closed

[2019-11-23 17:37] Arkiase opened #92 "Auto-save not working"
Overlay settings still reset everytime ACT is opened, despite the auto-save function

[2019-11-26 15:44] bsides commented on #91
Thanks for that info @Felys1998 :+1:

[2019-11-26 18:58] CalumDM commented on #90
What kind of hand would you need?

The issue has been happening since the new expansion, (July) only occurs in all alliance raids (24 mans), even when set to party, it still has some interference, typically one of the other healers will creep onto the overlay pushing usually the 'Highest DPS' off. I recall quite often seeing healers appear when I did have it set.

![FFXIV ACT settings](https://use

[2019-11-27 08:35] dravirus opened #93 "ngld OverlayPlugin Issues"
Hello!

I've updated my Overlay Plugin o ngld's version of it because of new cactbot, and i assume its the reason its been having all of these random issues. Right now, he's showing the correct numbers though a fight, but the order keeps swapping and jumping all the time on the list, making it impossible for me to identify how dps is really going or who is doing the biggest numbers. Is it possible

[2019-11-27 16:10] bsides commented on #93
Hi @dravirus! Have you set up ngld source order correctly? Just asking because it's been a common mistake these days. Check the 2nd reply in this post https://github.com/bsides/horizoverlay/issues/91

If even though you're still getting this please let me know.

[2019-11-27 18:44] dravirus commented on #93
OHH! I really didn't knew about this at all, and i'm not used to GitHub. Yeah, this instantly solved it, thank you very much! <3

[2019-11-27 18:44] #93 closed

[2019-11-27 21:02] bsides commented on #93
It's fine to not know anything, I'm here to help as well. I'm glad you made it work! \o/

[2019-11-28 19:48] Kumicoo opened #94 "Weird order with NGLD overlay"
Is it not supported? the order isnt high-low or low-high it's compeltely random, like it doesnt sort anything. Im using ngld because cactbot...

[2019-11-29 04:11] bsides commented on #94
Hi @Kumicoo could you please check if you have checked the right option in the addon? Check this post for guidance: https://github.com/bsides/horizoverlay/issues/91#issuecomment-557761109

[2019-11-29 04:13] bsides commented on #92
Hi @Arkiase! Thanks for reporting this bug. I'll try to reproduce it as soon as I go back into the game. I'm not subscribing anymore unfortunatelly due to the high in the currency.

[2019-11-29 04:14] bsides commented on #81
Hi @Rawrington could you tell if it's fixed?

[2019-11-29 17:18] Kumicoo commented on #91
This is not an option for me. There is no "Sort descending". As said, NGLD Overlay

[2019-11-29 17:19] Kumicoo commented on #91
https://prnt.sc/q3yp4y

[2020-02-07 16:40] aa663166396 opened #96 "job icon and dps show issue"
![QQ图片20200208000711](https://user-images.githubusercontent.com/34707153/74047297-11166f00-4a0b-11ea-87c6-838ad3d4da00.png)
after use ngld's overlayplugin,the dps font size seems is bigger and will coverd by job icon.The old one overlayplugin is ok, any way to fix?

[2020-02-26 16:33] AleanaA opened #97 "[Feature Request] Static order"
An option to have a static order by job, as opposed to updating based on highest DPS.
I personally care less about who's doing the most DPS, and much prefer ensuring that people are improving, and I find it easier to quickly glance at a party member's DPS when I know what position they'll be in.

[2020-03-02 20:13] javaJake commented on #57
I've created a mod that simply swapped the DPS% with crit, direct hit, and combined rates:
https://github.com/bsides/horizoverlay/compare/master...javaJake:master

I've got a hosted version at:
https://javajake.github.io/horizoverlay/

It's a bit hacky, though, so I expect bsides will want to clean it up and make it look far nicer. I just threw this together for some friends who loved the overlay

[2020-03-30 01:20] heavenscalamity opened #99 "Settings menu will not open"
When attempting to open the settings menu for the overlay, the window opens but it's a blank github url that's not loading. I've tried it numerous times and reloaded ACT/the ACTwebsocket addon and nothing is working.

![image](https://user-images.githubusercontent.com/62861991/77866934-dd292000-71e9-11ea-8fc0-88ce5cc05627.png)

[2020-03-30 01:59] heavenscalamity commented on #99
Fixed it somehow, dunno. Please ignore.

[2020-03-30 01:59] #99 closed

[2020-04-08 16:33] Keveff commented on #90
Hey,

I was wondering if there was a fix for this issue? I really enjoy the layout and look of the overlay and hope to continue using it for 24-man alliance raids.

It is still currently showing the bottom 8 DPS instead of the top and with the update on ACT, I don't have the option of changing the sort type to Ascending (or at least I'm not sure how to on the newer version of ACT).

[2020-05-08 21:13] Grithok opened #101 "Sorting left to right or right to left"
When I look at the UI, it numbers the people up to 1, 2, 3, 4, 5, 6, 7, 8. One on the left and eight on the right.

If I go into OverlayPlugin.dll's settings and change the sort by or sort descending, it will always put the highest value that I am sorting on the far right under the 8 slot.

![ass1](https://user-images.githubusercontent.com/54701170/81449782-9b738980-9146-11ea-96f5-6195fb23ef4d.png

[2020-06-10 15:48] NavixSRS opened #103 "Settings going to default on ACT reset"
When I reset ACT all of the settings reset to default. Reloading the overlay keeps them saved. Disabling the overlay plugin keeps them saved. Just resetting ACT will make it go back to default.

[2020-06-10 15:54] #103 closed, assigned to nobody

[2020-06-13 09:38] hx41455 opened #104 "ACTWebSocket sorting is reverse"
Using actWebSocket for streaming and the sorting is reversed, least dps to highest. No way to configure either? Event settings were sorted by DPS in descending order already. Event settings don't seem to effect it at all.

![image](https://user-images.githubusercontent.com/43611161/84565542-dd8c7e00-ad37-11ea-95ec-068e750bacbf.png)

[2020-09-10 21:30] squiggg opened #109 "main.b0a6984b.chunk.css empty by default?"
This may be more of an issue on my end personally or with ACT but, for a few weeks now, the OverlayPlugin Horizoverlay preset has had an empty main.b0a6984b.chunk.css file, displaying this:
![image](https://user-images.githubusercontent.com/20999179/92809827-f9c9a680-f38a-11ea-96ff-cbaa630f9b62.png)

I can fix it by simply copying and pasting the text from the main.b0a6984b.chunk.css file using Ch

[2020-09-11 13:47] bsides commented on #109
Hi @squiggg,

Something external is erasing your file - the file is intact as you can see here https://bsides.github.io/horizoverlay/static/css/main.b0a6984b.chunk.css

I know you already know this but that's something really hard to debug since it's coming from outside. I'll try to check it out this weekend but no promises. If anyone could help I'd appreciate. Meanwhile please check your setup ag

[2020-09-12 03:00] squiggg commented on #109
Yeah, I figured it wasn't an issue with Horizoverlay itself but I decided to be thorough about solving it and go in order of Horizoverlay -> OverlayPlugin -> ACT  and checking things on my end along the way. Feel free to close this without comment if you don't find anything ^^

[2020-09-26 20:07] mooondark opened #110 "Add FR language"
Hello,
Can you please add FR language to locale.js ?

[code]
👍  🙏

[2020-09-28 14:01] bsides commented on #110
Hi @mooondark! Could you please open a Pull Request for it?

If you don't know how to do it, ask me and I'll post a simple guide.

Thank you in advance!

[2020-09-30 19:25] bsides commented on #110
Hi @mooondark could you test if it's online? Merci beaucoup!

[2020-10-01 17:07] mooondark commented on #110
It is not. I still have only 4 choices  : En/Pt/2xChinese

[2020-10-01 17:32] #90 closed

[2020-10-01 17:33] bsides commented on #90
It's provably fixed right now, please test and share your thoughts.

[2020-10-02 01:48] ekumlin commented on #90
Just did an alliance raid run and confirmed this is now fixed. Thanks!

[2020-10-02 07:59] CalumDM commented on #90
Same! Thrilled! Thank you very much.

On Fri, Oct 2, 2020 at 2:48 AM Eric <notifications@github.com> wrote:

[2020-10-04 01:31] bsides commented on #96
Hi @aa663166396 this one is a hard to reproduce one. Maybe it's already fixed by ngld's cache? Could you report back if the error still exists? Thank you!

[2020-10-04 01:31] #96 closed

[2020-10-04 01:32] bsides commented on #104
Hi @hx41455, we recently fixed some bugs, could you please test it and reopen this issue if the error persist? Thank you!

[2020-10-04 01:32] #104 closed

[2020-10-04 01:33] bsides commented on #109
Hey @squiggg we squashed some bugs recently, could you check if it's fixed? If not feel free to reopen the issue. Thank you!

[2020-10-04 01:33] #109 closed

[2020-10-04 01:35] bsides commented on #110
@mooondark I'm pretty sure I got it right now, could you please test it again? Sorry the delay and thank you!

PS - If it's still not in the latest release, please reopen this issue.

[2020-10-04 01:35] #110 closed

[2020-10-04 01:38] bsides commented on #87
After a year I must ask again, is it still an issue @Amitay12? Sorry for the huge delay in contacting back. If the issue persists, please reopen it. Thanks again!

[2020-10-04 01:38] #87 closed

[2020-10-04 16:26] hx41455 commented on #104
Still seems to be doing it. I did test another overlay (Ember) in websocket to see if it's the websocket causing the problem, but it ember sorted correctly.

[2020-10-04 18:56] mooondark commented on #110
Yup working fine now ! Thanks !

[2020-11-30 11:00] Tancred423 opened #113 "Hiding overlay / dummy data until data is being parsed"
The dummy data, the instructions below those and the half-tranparent red background box are taking a considerable amount of my screen and it would be nice if there was an option to hide this until actually getting into combat and parsing real data.

After setting it up, you also don't really need it anymore.

[2020-12-28 14:45] Tancred423 commented on #113
With the recent update it doesn't show dummy data or the red box anymore. Tho my issue has been resolved. Not sure if that was on purpose but it is okay now.

[2020-12-28 14:45] #113 closed

[2021-01-04 08:54] ninshoo opened #114 "Overheal"
Hi,

where is option overheal plz?

[2021-01-13 09:06] sq34k opened #115 "Streamer Mode"
Hi there im a twitch streamer and love this overly so much

would it be possible to add an option to hide names or display them as initials please as this is required for streamers to do now and i am unable to show this overlay while streaming <3

[2021-01-13 11:09] bsides commented on #115
Hi @sq34k ! This is a nice request, but as of now I am unable to play the game. I'll leave it open so maybe someone else can grab it and open a PR.

Thanks!

[2021-02-08 08:44] SillyShinyDragoon opened #116 "Custom colors?"
An option to set custom colors for each role (or heck even class) would be neat!

[2021-02-10 10:38] SillyShinyDragoon commented on #58
![image](https://user-images.githubusercontent.com/78725394/107498798-72f34280-6b51-11eb-9b35-7cf8af802a23.png)

[2021-02-19 16:04] MeiHantei opened #117 "Max hit display: Skills with hyphenated names being parsed incorrectly"
For example, the monk's Six-Sided Star: <img width="118" alt="Advanced_Combat_Tracker_OlLxvudQcV" src="https://user-images.githubusercontent.com/79325281/108529021-08a17700-72a2-11eb-95f3-d39016fd5ccb.png">

Note that instead off the skill "Six-Sided Star" being displayed as dealing "69909" damage, the skill "Six" is being displayed as dealing "Sided Star:-69909" damage.

Tri-disaster displays sim

[2021-02-19 21:28] bsides commented on #117
Hi @MeiHantei, thanks for the report, that's a very good catch. I'm going to need some help here to solve this, I hope someone can open a PR.

[2021-02-19 21:28] bsides commented on #116
I agree! Hopefully someone could open a PR for it!

[2021-02-19 21:29] bsides commented on #114
Hi @ninshoo, we don't have it yet, but we are open for PRs! If you think you could help, please do so. Thanks for the suggestion!

[2021-03-11 02:43] Brafficus commented on #116
Hello, I'd like to work on this, I'm just having some issues testing locally.  I installed yarn and ran the following commands from within the cloned repository:

[code]

I'm serving build since that seemed to be where the actual output of ```yarn build``` was going (file creation dates were correct there and not docs), but when I try to set ACT to http://localhost:5000 (as mentioned in your instr

[2021-03-11 03:08] Brafficus commented on #116
Disregard the above.  Not sure if this is intended or not, but I ran it using ```npm start``` and pointing ACT at http://localhost:3000/horizoverlay instead.  I'll get started on this now.

[2021-03-13 16:39] Enubia commented on #115
@bsides i've gone ahead and implemented an option to blur character names excluding your own of course

[2021-03-13 21:11] Enubia commented on #116
that's also what i did, are you now working on the custom colors? If you need help let me know, I'll go through the list of open issues and takle some other ones :D

[2021-03-13 23:06] Brafficus commented on #116
Yes, I'll be working on this feature for right now (trying to get accustomed to React since I'm used to Angular), then I'll likely look at a couple other open issues afterwards.  Thanks for the offer, I'll let you know if I need any help!

[2021-03-18 00:16] #115 closed

[2021-03-23 00:03] HDXylophone opened #123 "Suggestion: Solo mode?"
I would like it if there was a setting you could enable to only see your personal DPS, akin to how Kagerou allows that by minimizing it.

[2021-10-27 14:25] roxazthelight opened #140 "The overlay interface becomes weird as per today."
Not sure what happened, i didnt add/remove anything from my ACT.

![Screenshot_1625](https://user-images.githubusercontent.com/28560813/139085497-ab26e210-ef84-40ed-a7a7-f7034273aa31.jpg)

[2021-11-15 21:35] Akava2005 opened #141 "Option to display Duration/Total DPS above Combantants"
I'm looking to place the overlay on the bottom of my screen and it would be helpful if I could have the fight information above the player information instead of how its displayed now.

[2021-12-04 19:29] Viking602 opened #142 "cactbot started reporting errors after updating"
cactbot started reporting errors after updating
Error with Permissions-Policy header: Unrecognized feature: 'interest-cohort'. (Source: , Line: 0)
[2021/12/5 3:28:56] Info:  BrowserConsole: Uncaught Error: Cannot find module './sge.png' (Source: https://bsides.github.io/horizoverlay/static/js/2.b7868ab6.chunk.js, Line: 1)
[2021/12/5 3:28:58] Info:  BrowserConsole: Error: Cannot find module './sge.

[2021-12-04 19:48] MyTechnoHunter commented on #142
no, the first line is not anything to do with this overlay.. the second bit is dealing with a missing icon for the new endwalker jobs.. please have the author update!

[2021-12-04 19:52] ngld commented on #142
If you change the following section
https://github.com/bsides/horizoverlay/blob/4d402abffd62a59521d6f8377d1de936eddb696b/src/CombatantHorizontal.js#L61-L75
to this instead
[code]
it'll still log errors for the missing icons but at least it'll work. The icons for the new jobs are still missing, of course.

[2021-12-05 02:24] ekumlin commented on #142
I created PR #143 to add the role colors and icons, as well as patch the code above so that future job additions don't break the overlay.

[2021-12-05 04:06] Viking602 commented on #142
Great! Thanks!

[2021-12-06 15:16] Crazyjim27 opened #144 "Overlay breaks because "cannot find module './sge.png'"
Overlay will not display information when a sage is in the party and will just turn off. I noticed the ACT was giving the reason I put in the title

I am also using what I believe to be the most up to date URL: https://bsides.github.io/horizoverlay

[2021-12-06 16:14] ekumlin commented on #144
This is fixed by #143 but needs an approval from a contributor like @bsides.

[2021-12-06 16:16] #142 closed

[2021-12-06 16:16] bsides commented on #142
Thank you all very much for the contribution!

[2021-12-06 17:46] bsides commented on #144
Thanks for contributing!

It's approved and merged.

I'll close this for now, but please reopen the issue in case it doesn't work.

[2021-12-06 17:46] #144 closed

[2021-12-06 22:03] Tene21 commented on #144
I'm still getting this issue. Made sure I'm using the up-to-date URL, hit "reload overlay" who knows how many times, overlay still just blinks out of existence as soon as I cast Dosis.

[2021-12-07 00:08] Tsunatus opened #145 "6.0 new class issue"
Overlay crashes or becomes invisible due to a uncaught error and module error for reaper and looks like sage as well.

[12/6/2021 4:03:00 PM] Info: Horizon Overlay: BrowserConsole: Error: Cannot find module './rpr.png' (Source: https://bsides.github.io/horizoverlay/static/js/2.b7868ab6.chunk.js, Line: 1)
[12/6/2021 4:03:00 PM] Info: Horizon Overlay: BrowserConsole: Uncaught Error: Cannot find modu

[2021-12-07 00:18] ngld commented on #144
The code is updated and fixed but the `gh-pages` branch isn't which means that the github.io URL still contains the outdated (broken) version.
@bsides will have to update that branch as well before the overlay works again.

[2021-12-07 00:19] ngld commented on #145
This is a duplicate of #142 and #144.

[2021-12-07 00:32] #145 closed

[2021-12-07 12:04] bsides commented on #144
I will look into into today in a couple of hours. Thanks @ngld

[2021-12-07 13:32] OGC-CMK opened #146 "not working after endwalker update"
[8/12/2021 12:21:03 AM] Info: DPS: BrowserConsole: Error with Permissions-Policy header: Unrecognized feature: 'interest-cohort'. (Source: , Line: 0)
[8/12/2021 12:21:05 AM] Info: DPS: BrowserConsole: Error: Cannot find module './rpr.png' (Source: https://bsides.github.io/horizoverlay/static/js/2.b7868ab6.chunk.js, Line: 1)

[2021-12-07 17:06] ekumlin commented on #146
This was fixed in #143 and we're just waiting on the change to be made available. Should happen today according to [this comment](https://github.com/bsides/horizoverlay/issues/144#issuecomment-987863440).

[2021-12-07 21:42] Tene21 commented on #144
Any ETA on when this will be fixed?

[2021-12-07 23:49] bsides commented on #144
Yes @Tene21 I posted above just that. Should be fixed now.

Thank you all for your hard work.

[2021-12-07 23:50] bsides commented on #146
Should be fixed already, please keep those in the same issue number.

Thank you.

[2021-12-07 23:50] #146 closed

[2021-12-11 01:08] lailleo opened #147 "HPS keeps toggling back on"
Since the most recent update, HPS continues to toggle on and settings (such as replacing it with max hit) default back each time as well.

[2021-12-12 12:18] Nillinn commented on #57
@javaJake  I really like your modded version of the overlay. Any plans on updating it for Endwalker? And could you make the death counter separate from the crit/dh counter so it's possible to enable only the former?

[2021-12-12 18:15] javaJake commented on #57
Thanks for the reminder. I've been meaning to get around to it. I will consider separating the death counter.

[2021-12-19 06:14] #147 closed

[2022-01-12 20:10] #123 closed

[2022-01-19 10:03] th411d commented on #57
@javaJake I love using your modified overlay, but is it possible to revert to the same font as the original as before?

[2022-04-21 22:24] lnmiltz opened #153 "Slight changes to local build instructions"
Hi,

I've been trying to build this on my machine and test out some changes. I ran into a lot of problems with yarn, but managed to get it working in the end.

I tried `yarn serve docs`, but this brought up a blank page (not completely blank but the .html file was confusing and short). I messed around with it and had to make two changes to get it to work:

1. Change
![notepad++_HInyXNvRr9](https:/

[2022-04-21 22:29] lnmiltz opened #154 "Update Github Pages version"
A couple months ago [this PR](https://github.com/bsides/horizoverlay/commit/6603787b0a41fc97bb29c5d6cdeb2801c33d6436) was merged, but it's not reflected in the public version hosted at https://bsides.github.io/horizoverlay. Can the github pages site be updated with the new changes?

The second to last commit added reaper/sage icons, so it looks like github pages is only one commit behind.

[2022-08-17 09:41] bsides commented on #154
This should be fixed. Please let me know if it doesn't @lnmiltz

[2022-08-17 09:41] #154 closed

[2022-08-17 09:45] bsides commented on #153
Hi @lnmiltz,

We may need a better investigation, but a PR is always welcome!

Thank you

[2022-08-17 09:46] bsides commented on #140
Closing as this became really old. If it happens again, please report back.

[2022-08-17 09:46] #140 closed

[2022-08-17 09:47] #117 closed

[2022-08-17 09:47] #116 closed